body {
    transition: all ease-in-out 0.3s;

    color: #fff;
    background-color: #70a9a1;
    /* 
    background-repeat: no-repeat;
    background-size: 1700px 840px; */


}

#cardBody {
    background-color: rgba(255, 255, 255, 0.1);

}

#cardY {
    background-color: #c7f9cc;
    color: "#415d43"
}

.navbar {
    background-color: #415d43;

}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

#genBody {
    background-color: #415d4364;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.11)
}

#textBody {
    color: white;
}