body {
    transition: all ease-in-out 0.3s;

    color: #fff;
    background-color: #198754;



}

#cardBody {
    background-color: rgba(255, 255, 255, 0.1);

}

#cardY {
    background-color: #c7f9cc;
    color: "#415d43"
}

.navbar {
    background-color: #919343;

}

.nav-link {
    /* color: black; */
}

.navbar-brand {
    color: white;
}

#genBody {
    background-color: #415d4364;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.11)
}

#textBody {
    color: white;
}

.active {
    color: #726a6a;
}